/* body {
    background: url("");
}  */

#title{
    color: #9b9925; 
}  

.subtitle {
    color: #72711a;
} 

/* Photo resizing */ 
#landscape {
    height: 300px;

    /* width: 60vw; */
    width: 60%; 

    /* syntax of border: size style color; */
    border: 10px solid;
    /* Padding */ 
    padding: 40px;
    /* padding-left: 20px;
    padding-right:10 ;
    padding-left: 5;
    padding-top: 40;
    padding-bottom: 100; */
    /* Margin */ 
    margin: 40px; 


    /* float:right; */ 
    /* display: inline-block; */

}



/* Text manipulation */ 

#link-to-google {
    /* text-decoration: line;
     text-decoration: none;
    text-decoration: line-through;
    text-decoration: overline;
 */
} 

body {
    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */

    /* text-align: center; */
    /* text-align: left; */
    /* text-align: right; */ 
    /* text-align: justify; */

    font-size: 1em;
    font-style: italic;
    font-weight: 800; 
    font-family: sans-serif; 
    /* font-family: "Times new roman", "Arial", serif; */
    
 
}   

/* Flex Box */ 

.container {
    background-color: rgb(250,250, 250); 
    margin: 10px; 

    /* Creating a flex container */
    display: flex;  

    /* Direction and Wrap */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */ 

    flex-wrap: wrap;
    /* flex-wrap: nowrap; */ 

}   

.container-item{
    background: rgb(36, 130, 39);
    text-align: center; 
    font-size: 25;
    color: white; 

    width: 70px; 
    line-height: 50px;
    margin: 50px;
}


.container-align {
    background-color: rgb(250,250, 250); 
    margin: 10px; 
    height: 300px;

    /* Creating a flex container */
    display: flex;  

    /* Vertical alignment of items */ 
    /* justify-content: flex-start; */
    justify-content: center;
    /* justify-content: flex-end; */

    /* Vertical spacing of items */ 
    /* justify-content: space-around; */
    /* justify-content: space-between; */ 

    /* Horizontally alignment of Items */
    /* align-items: flex-start; */
    align-items: center;
    /* align-items: flex-end; */

    /* align-items: baseline; */
    /* align-items: stretch; */

} 

.container-item1{
    background: rgb(36, 130, 39);
    text-align: center; 
    font-size: 25;
    color: white; 

    width: 70px; 
    line-height: 50px;
    margin: 50px;
}

